<div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color: #282828;">
  <div id="base">

    <div id="center"
      style="width: 50%; margin-left: 25%; border: solid; border-radius: 10px; text-align: center; margin-top: 10%; padding: 20px; background-color: whitesmoke;">
      <p style="font-size: 70px;">
        Find perfect project partner here!
      </p>
      <a href="/login"> <button
          style="border: none; border-radius: 10px; background-color: #4caf50; font-size: 50px;">Get
          Started</button></a>
    </div>
  </div>
</div>