<!DOCTYPE html>
<html>

<head>
  <title>PeerProj</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">
</head>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #282828;
  }

  header h1 {
    text-align: center;
    color: white;
  }

  header h3 {
    text-align: center;
    color: aliceblue;
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:300);

  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }

  .form button:hover,
  .form button:active,
  .form button:focus {
    background: #43A047;
  }

  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }

  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }

  .form .register-form {
    display: none;
  }

  .footere {
    position: fixed;
    padding-top: 10px;
    left: 0;
    bottom: 0rem;
    width: 100%;
    background-color: #252770;
    color: white;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    height: 5vh;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

  body {
    background-image: url('landing.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: auto;
  }

  .start {
    color: white;
    text-align: center;
  }

  .options {
    display: flex;
    padding: 30px 30px 30px 30px;
    justify-content: center;
  }

  .but {
    width: 150px;
    height: 50px;
    margin: 15px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
  }

  .description {
    color: gray;
    text-align: center;
    justify-content: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #282828;
    color: white;
    background-image: url('postbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-width: auto;
  }

  header h1 {
    text-align: center;
    color: white;
  }

  header h3 {
    text-align: center;
    color: aliceblue;
  }

  .fieldse {
    background-color: black;
    border-color: blueviolet;
    border-radius: 15px;
    padding: 1%;
    display: inline-block;
    align-content: center;
    margin: 0px 650px 0px 650px;
    width: 30%
  }

  .footere {
    position: fixed;
    padding-top: 10px;
    left: 0;
    bottom: 0rem;
    width: 100%;
    background-color: #252770;
    color: white;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
    height: 5vh;
  }
</style>
<header>
  <img src="Headeras.png" width="100%" height="92">
  <h1 style="font-family: sans-serif">PEER PROJECT FORUM</h1>
  <br>
  <h3 style="font-family: sans-serif">Wish to get a partner for co-learning and project? Get Started Here.</h3>
  <br>
</header>

<body>